In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
file=pd.read_csv("/content/Admission_Predict.csv")

In [3]:
data=pd.DataFrame(file)

In [4]:
y=data['GRE Score']
y

0      337
1      324
2      316
3      322
4      314
      ...
395    324
396    325
397    330
398    312
399    333
Name: GRE Score, Length: 400, dtype: int64

In [5]:
x=data.drop(columns=['GRE Score'],axis=1)
x.head()

,Serial No.,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,118,4,4.5,4.5,9.65,1,0.92
1,2,107,4,4.0,4.5,8.87,1,0.76
2,3,104,3,3.0,3.5,8.00,1,0.72
3,4,110,3,3.5,2.5,8.67,1,0.80
4,5,103,2,2.0,3.0,8.21,0,0.65

In [6]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=50)

In [7]:
x_train.shape

(320, 8)

In [8]:
x_test.shape

(80, 8)

In [9]:
  y_train.shape

(320,)

In [10]:
y_test.shape

(80,)

In [11]:
print(x_train.shape,x_test.shape)

(320, 8) (80, 8)